[*.cs]

# RCS1003: Add braces to if-else (when expression spans over multiple lines).
dotnet_diagnostic.RCS1003.severity = none

# RCS1146: Use conditional access.
dotnet_diagnostic.RCS1146.severity = none


# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# S4136: Method overloads should be grouped together
dotnet_diagnostic.S4136.severity = none

# RCS1001: Add braces (when expression spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = none

# RCS1090: Add call to 'ConfigureAwait' (or vice versa).
dotnet_diagnostic.RCS1090.severity = none

# S4457: Parameter validation in "async"/"await" methods should be wrapped
dotnet_diagnostic.S4457.severity = none

# RCS1123: Add parentheses when necessary.
dotnet_diagnostic.RCS1123.severity = none
