<?xml version="1.0" encoding="utf-8"?>
<nuget xmlns="http://www.gehtsoft.com/build/nuget">
 <!-- versions. the FIRST version is the current -->
 <versions>
  <version id="1.0.6">Add support of form upload</version>
  <version id="1.0.5">Add support for cookies</version>
  <version id="1.0.4.3">Fix mimetype for get html from request</version>
  <version id="1.0.4.2">Fix HTML value validator</version>
  <version id="1.0.4.1">Fix namespace</version>
  <version id="1.0.4">Improve HTML validation</version>
  <version id="1.0.3">Improve WebDriver</version>
  <version id="1.0.2">Remove not needed dependencies</version>
  <version id="1.0.1">The first version</version>
 </versions>
 <properties>
  <owner>Gehtsoft</owner>
  <projectUrl>https://github.com/nikolaygekht/webview2_as_web_ui_test/tree/main-v2</projectUrl>
  <license type="expression">LGPL-2.1-or-later</license>
  <copyright>Gehtsoft USA LLC 2021</copyright>
 </properties>
 <projects>
   <project id="Gehtsoft.Webview2.Uitest">
    <description>Test support for WebView 2</description>
   </project>
   <project id="Gehtsoft.Webview2.FluentAssertions">
    <description>Fluent Assertions extension for WebView2 control</description>
   </project>
   <project id="Gehtsoft.HtmlAgilityPack.FluentAssertions">
    <description>Fluent Assertions for HtmlAgility pack and System.Text.Json</description>
   </project>
   <project id="Gehtsoft.Webtest.Spellchecker">
    <description>Fluent Assertions for spellchecking the test</description>
   </project>
   <project id="Gehtsoft.Httpclient.Test.Extensions">
    <description>Test extensions for HttpClient</description>
   </project>
   <project id="Gehtsoft.Test.Extensions">
    <description>Test extensions for generic object</description>
   </project>
 </projects>
</nuget>